<div class="container">
  <div class="row my-3">
    <h3 class="col-10 offset-2">マイページ</h3>
  </div>

  <div class="row my-5">
    <h4 class="col-2">登録情報</h4>
    <%= link_to "編集する", customers_information_edit_path, class:"btn btn-success col-2" %>
  </div>

  <div class="row">
    <table class="table table-bordered">
      <tr>
        <th class="col-2">氏名</th>
        <td class="col-6">
          <%= @customer.first_name %>
          <%= @customer.last_name %>
        </td>
      </tr>

      <tr>
        <th class="col-2">カナ</th>
        <td class="col-6">
          <%= @customer.first_name_kana %>
          <span><%= @customer.last_name_kana %></span>
        </td>
      </tr>

      <tr>
        <th class="col-2">郵便番号</th>
        <td class="col-6">
          <%= @customer.postal_code %>
        </td>
      </tr>

      <tr>
        <th class="col-2">住所</th>
        <td class="col-6">
          <%= @customer.address %>
        </td>
      </tr>

      <tr>
        <th class="col-2">電話番号</th>
        <td class="col-6"><%= @customer.telephone_number %></td>
      </tr>

      <tr>
        <th class="col-2">メールアドレス</th>
        <td class="col-6"><%= @customer.email %></td>
      </tr>
    </table>
  </div>

  <div class="row my-5">
    <h4 class="col-2">配送先</h4>
    <%= link_to "一覧を見る", addresses_path, class:"btn btn-primary col-2" %>
  </div>

  <div class="row my-5">
    <h4 class="col-2">注文履歴</h4>
    <%= link_to "一覧を見る", orders_path, class:"btn btn-primary col-2" %>
  </div>

</div>
