<table class="table">
  <h4>商品一覧</h4>
  <span><%= link_to "商品登録", new_admin_item_path %></span>
  <thead>
    <tr>
        <th class="id">商品ID</th>
        <th class="name">商品名</th>
        <th class="price">税抜価格</th>
        <th class="genre">ジャンル</th>
        <th class="status">ステータス</th>
    </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td>
        <%= link_to admin_item_path(item.id) do %>
          <%= item.name %>
        <% end %>
      </td>
      <td><%= item.price %></td>
      <td><%= item.genre.name %></td>
      <td>
        <% if item.is_active %>
          <p>販売中</p>
        <% else %>
          <p>販売停止中</p>
        <% end %>
      </td>
    </tr>

  <% end %>
  </tbody>
</table>
