<h4>商品詳細</h4>
<!--画像-->
<% if @item.image.attached? %>
  <%= image_tag @item.image.variant( resize: "300" ).processed %>
<% else %>
  <%= image_tag 'no_image', size: "100x200" %>
<% end %>

<p>商品名</p>
<p><%= @item.name %></p>

<p>商品説明</p>
<p><%= @item.introduction %></p>

<p>
  税込価格</br>
    (税抜価格)
</p>
<p>
  <%= @item.add_tax_price.to_s(:dalimited) %>
  (<%= @item.price %>)円
</p>

<p>販売ステータス</p>
<p>
  <% if @item.is_active %>
    <p>販売中</p>
  <% else %>
    <p>販売停止中</p>
  <% end %>
</p>

<%= link_to "編集する", edit_admin_item_path %>