<h4>配送先編集</h4>

<%= form_with model: @address, url: address_path do |f| %>
  <P>
    <%= f.label :postal_code, "郵便番号（ハイフンなし)" %>
    <%= f.text_field :postal_code %>
  </P>
  <P>
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
  </P>
  <P>
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name %>
    <span>
      <%= f.submit "変更内容を保存", class:"btn btn-primary bg-success" %>
    </span>
  </P>
<% end %>