<h4>配送先登録/一覧</h4>
<%= form_with model: @address, url: public_addresses_path do |f| %>
  <p>
    <%= f.label :postal_code, "郵便番号 (ハイフンなし)" %>
    <%= f.text_field :postal_code, placeholder: "0000000" %>
  </p>

  <p>
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %>
  </p>

  <p>
    <%= f.label :name, "宛名" %>
    <%= f.text_field :name, placeholder: "令和道子" %>
  </p>
  <%= f.hidden_field :customer_id, :value => current_customer.id %>
  <p>
    <%= f.submit "新規登録", class:"btn btm-primary bg-success" %>
  </p>
<% end %>

  <table>
    <thead>
      <tr>
        <th>郵便番号</th>
        <th>住所</th>
        <th>宛名</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @addresses.each do |address| %>
      <tr>
        <td><%= address.postal_code %></td>
        <td><%= address.address %></td>
        <td><%= address.name %></td>
        <td>
          <%= link_to "編集する", edit_public_address_path(address), class: "btn btn-primary bg-success" %>
          <%= link_to "削除する", public_address_path(address), class:"btn btn-primary bg-success", method: :delete %>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>