<div class="container">
    <div class="row">
        <h3 class="col-12 mt-3">注文情報入力</h3>
            <% if @address_new %>
                <% if @address_new.errors.any? %>
                    <%= @address_new.errors.count %>件のエラーが発生しました
                        <ul>
                            <% @address_new.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                <% end %>
            <% end %>
    </div>
    <%= form_with model: @order, url: check_orders_path do |f| %>
    <!--支払方法-->
    <div class="row">
        <h4 class="col-12">支払方法</h4>
    </div>
    <div class="row">
        <div class="form-check col-10 offset-2">
            <%= f.radio_button :payment_method, :credit_card, checked: true, class:"form-check-input", id:"radio1" %>
            <%= label :payment_method, "クレジットカード", value: :credit_card, class:"form-check-label", for:"radio1" %>
        </div>
    </div>
    <div class="row">
        <div class="form-check col-10 offset-2">
            <%= f.radio_button :payment_method, :transfer, class:"form-check-input", id:"radio2" %>
            <%= label :transfer, "銀行振込", value: :transfer, class:"form-check-label", for:"radio2" %>
        </div>
    </div>
<!--お届け先-->
    <div class="row">
        <h4 class="col-12">お届け先</h4>
    </div>

<!--ログイン中のユーザーの住所-->
    <div class="row">
        <div class="form-check col-10 offset-2 mt-3">
            <%= f.radio_button :select_address, 0, checked: true, class:"form-check-input", id:"address0" %>
            <%= f.label :select_address_0, "ご自身の住所", class:"form-check-label", for:"address0" %>
        </div>
        <div class="col-10 offset-2">
            <%= current_customer.address_display %>
        </div>
    </div>
<!--登録済住所から選択-->
    <div class="row">
        <div class="form-check col-10 offset-2 mt-3">
            <%= f.radio_button :select_address, 1, class:"form-check-input", id:"address1" %>
            <%= f.label :select_address_1, "登録済住所から選択", class:"form-check-label", for:"address1" %>
        </div>
        <div class="col-10 offset-2">
            <%= f.collection_select :address_id, @addresses, :id, :address_display %>
        </div>
    </div>
<!--新しい住所にお届け-->
    <div class="row">
        <div class="form-check col-10 offset-2 my-3">
            <%= f.radio_button :select_address, 2, class:"form-check-input" %>
            <%= f.label :select_address_2, "新しいお届け先", class:"form-check-label" %>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-3 offset-1">
            <%= f.label :postal_code, "郵便番号", class:"col-form-label" %>
        </div>
        <div class="col-7">
            <%= f.text_field :postal_code, placeholder: '0000000', class:"form-control" %>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-3 offset-1">
            <%= f.label :address, "住所", class:"col-form-label" %>
        </div>
        <div class="col-7">
            <%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0", class:"form-control" %>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-3 offset-1">
            <%= f.label :name, "宛名", class:"col-form-label" %>
        </div>
        <div class="col-7">
            <%= f.text_field :name, placeholder: "令和道子", class:"form-control" %>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-12 text-center">
            <%= f.hidden_field :customer_id, :value => current_customer.id %>
            <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
        </div>
    </div>
    <% end %>
</div>