<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-2 text-center">
            <div class="border border-5">
                <h5 class="border border-3 p-1 font-weight-bold">ジャンル検索</h5>
                <% @genres.each do |genre| %>
                  <%= link_to genre.name, items_path(genre_id: genre.id), class:"d-block", style:"line-height:2rem" %>
                <% end %>
            </div>
        </div>

<!--ジャンル別商品一覧-->
        <div class="col-10">
            <div style="width: 100%;">
                <% if @genre.present? %>
                    <h2><%= @genre.name %>一覧</h2>
                <% else %>
                <h2>商品一覧</h2>
                <% end %>
            </div>
            <div class="row">
                <% @items.each do |item| %>
                    <%= link_to item_path(item) do %>
                        <div class="card col-3">
                            <% if item.image.attached? %>
                                <%= image_tag item.image, class:"card-img-top", style:"width: 100%; height: 200px;" %>
                            <% else %>
                              <%= image_tag 'no_image', size: "100x200" %>
                            <% end %>
                    <% end %>
                        <p><%= link_to item.name, item_path(item.id) %></p>
                        <p><%= item.price %></p>
                    </div>
                <% end %>
            </div>
            <%= paginate @items %>
        </div>
    </div>
</div>