<table>
  <h5>ジャンル一覧</h5>
  <% @genres.each do |genre| %>
  <thead>
    <tr></tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= link_to genre.name, public_items_path(genre.id) %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>

<%= form_with model: @cart_item, url: public_cart_items_path do |f| %>
  <% if @item.image.attached?%>
    <%= image_tag @item.image.variant( resize: "200" ).processed %>
  <% else %>
    <%= image_tag 'no_image', size: "100x200" %>
  <% end %>

  <%= @item.name %>
  <%= @item.introduction %>
  <%= @item.add_tax_price.to_s(:dalimited) %>
  <span>(税込価格)</span>
  <%= f.hidden_field :item_id, :value => @item.id %>
  <%= f.hidden_field :customer_id, :value => current_customer.id %>
  <%= f.select :amount, *[1..9] %>
  <%= f.submit "カートに入れる", class:"btn btn-success" %>
<% end %>
